ARCHS_STANDARD = x86_64
ARCHS_STANDARD_32_64_BIT = x86_64 i386
ARCHS_STANDARD_32_BIT = i386
ARCHS_STANDARD_64_BIT = x86_64
ARCHS_STANDARD_INCLUDING_64_BIT = x86_64
CURRENT_ARCH = x86_64
GCC_C_LANGUAGE_STANDARD = c11
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_OPTIMIZATION_LEVEL = fast
MACOSX_DEPLOYMENT_TARGET = 10.11
NATIVE_ARCH_64_BIT = x86_64
NATIVE_ARCH_ACTUAL = x86_64
OPTIMIZATION_CFLAGS = -Ofast
PLATFORM_PREFERRED_ARCH = x86_64
VALID_ARCHS = x86_64
arch = x86_64
